//COLORS
$color_primary: #7ed56f;
$color_primary_light: #55c57a;
$color_primary_dark: #28b485;

$color_secondary_light: #ffb900;
$color_secondary_dark: #ff7730;

$color_tertiary_light: #2998ff;
$color_tertiary_dark: #5643fa;

$color_grey_light_1: #f7f7f7;
$color_grey_light_2: #a3a3a3;

$color_grey_light: #eeeeee;
$color_grey_dark: #777;
$color_grey_dark_2: #999;
$color_grey_dark_3: #333;

$color_white: #fff;
$color_black: #000;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
